@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin blur-bg($color: rgb(20, 20, 20), $opacity: 0.75) {
	&:before,
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}

	&:before {
		background: $color;
		opacity: $opacity;
	}

	&:after {
		backdrop-filter: blur(8px);
	}
}

.new-sheet {
	@apply flex items-center justify-center h-full z-[9999] bg-transparent;

	&__wrapper {
		@apply z-[1] relative flex flex-col;
	}

	&__content {
		@apply flex flex-col bg-gray-50 w-96 rounded-md shadow-md;
	}
}
